@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  

/* navigation bar */

#menu-icon {
    font-size: 1rem;
    color: ver(--text-color);
    cursor: pointer;
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: #9abe16;
    text-decoration: none;
    font-weight: 600;
}

#menu-icon {
    font-size: 3.0rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
    padding: 0 0 0 20%;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #9abe16;
}

/* home */

.home {
    height: 100vh;
    background: url();
    display: flex;
    align-items: center;
    padding: 0 10%;
    background:rgb(0,0,0,0.8) url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-blend-mode: darken;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #9abe16;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0px 20px;
}



.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9abe16;
    border-radius: 50%;
    font-size: 20px;
    color: #9abe16;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: black;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #9abe16;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* about */

.about {
    height: 100vh;
    background: rgba(0,0,0,0.8)url(https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about-content {
    max-width: 600px;
}


.about-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #9abe16;
}

.about-content p {
    font-size: 16px;
    margin: 20px 0px 10px 0px;
}


/* project */

.project {
    height: 100vh;
    background: rgba(0,0,0,0.8)url(https://images.unsplash.com/photo-1509718443690-d8e2fb3474b7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
    
.project-content {
    max-width: 600px;
}
    
    
.project-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #9abe16;
}

.firstProject {
    font-size: 32px;
    color: rgb(117, 117, 117);
    transition: .3s;
    font-weight: 500;
    text-decoration: none;
    transition: .5s;
    z-index: 100;
    max-width: 600px;
}

.project-content a:hover {
    color: #9abe16;
}

/* Responsive changes */

@media screen and (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media screen and (max-width: 991px) {

.header {
    padding: 2rem 4%;
}

section {
    padding: 20% 4% 30%;
}

.home {
    padding: 0 10%;
}

.footer {
    padding: 2rem 4%;
}

}

@media screen and (max-width: 768px) {


#menu-icon {
    display: block;
}

.navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: black;
    width: 100%;
    padding: 1rem 4%;
    transition: 0.25s ease;
    transition-delay: 0.25s;
}

.navbar.active {
    left: 0;
    transition-delay: 0s;
}

.navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-top: 0.1rem solid rgba(0,0,0,0.8);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
}

.navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
}

.navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
}

}
